<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301043501047-c9v8jlhr0meiafgop5prqmh55hvoj765.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301043501047-c9v8jlhr0meiafgop5prqmh55hvoj765</string>
	<key>API_KEY</key>
	<string>AIzaSyAuCPDBCBpssw8AENqA7pSSd78Vz2oLV5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>301043501047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.develappers.htw-dresden.ios</string>
	<key>PROJECT_ID</key>
	<string>htw-dresden</string>
	<key>STORAGE_BUCKET</key>
	<string>htw-dresden.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301043501047:ios:b335e7761469916d</string>
	<key>DATABASE_URL</key>
	<string>https://htw-dresden.firebaseio.com</string>
</dict>
</plist>